@use '../../../scss/variables';

.componentes-section {
    padding-bottom: 100px;

    .componentes-section-cards{
        max-width: 1300px;
        margin: auto;
        padding-inline: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

