@use '../../../scss/variables';

.componentes-section {
    padding-bottom: 100px;

    .componentes-section-cards{
        max-width: 1300px;
        margin: auto;
        padding-inline: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        animation: slideIn 0.5s ease-out;
    }
}


@keyframes slideIn {
    from {
        transform: translateX(100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}