.contacto {
    padding: 20px;
    padding-top: 50px;
    max-width: 1300px;
    margin: auto;
    border-bottom: 1px solid rgb(199, 199, 199);

    h2{
        margin-bottom: 30px;
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}


@media (max-width: 760px) {

    .contacto {

        &__content {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}
