.boton-volver{
    display: flex;
    justify-content: center;
    color: rgb(0, 26, 255);
    width: fit-content;
    border-radius: 20px;
    margin: auto;
    margin-top: 50px;
    transition:color 0.2s ease;

    &:hover {
        color: rgb(0, 162, 255);
    }
}


