@use '../../../scss/variables';

.fabricantes-section {
    padding: 20px;

    &__cards {
        max-width: 1000px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid red;
    }

    &__title {
        color: rgb(51, 51, 51);
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
}