@use '../../../scss/variables';

.fabricantes-section {

    &__cards {
        max-width: 1000px;
        gap: 20px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}