.producto-card {
  display: flex;
  flex-direction: column;
  width: 18rem;
  margin: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition: border-color 0.3s ease;

  .card-body {
    .button-group{
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }


  &:hover{
    border-color: black;
  }
}