@use '../../../scss/variables';

.productos-section {
    padding-bottom: 50px;

    .productos-section-cards{
        max-width: 1300px;
        margin: auto;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        padding-inline: 20px;
        gap: 20px;
    }
}