.fab-detalles-container {
    padding: 20px;
    
    p {
        margin: 0;
    }
    
    .fab-detalles {
        color: rgb(59, 59, 59);
        max-width: 400px;
        margin: auto;
        margin-top: 20px;
        padding: 10px;
        border-radius: 3px;

        &__logo{
            max-width: 100%;
            padding: 10px;
        }

        &__info {
            margin-top: 10px;
            border-top: 1px solid rgb(182, 182, 182);
            padding: 15px 10px 10px 10px;
            font-weight: 700;
            display: flex;
            flex-direction: column;
            gap: 10px;

            &__direccion, &__contacto {
                display: flex;
                flex-direction: column;

                .fab-direccion, .fab-contacto {
                    font-weight: 400;
                }
            }
        }

        .boton-volver-container {
            margin-top: 30px;
            display: flex;
            justify-content: center;
            
            a {
                text-decoration: none;
                color: inherit;
            }
        }
    }
}