.footer {
    height: 200px;
    background-color: #212529;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    .nombres-container, .derechos{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: smaller;
        color: #afafaf;

        p {
            margin: 0;
        }
    }
}